@charset "utf-8";
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-row {
    display: table-row;
}


.stepwizard-step {
    text-align: center;
    display: table-cell;
    position: relative;
    overflow: hidden;
}

    .stepwizard-step:before, .stepwizard-step:after {
        position: absolute;
        top: 24px;
        display: block;
        height: 2px;
        width: 50%;
        background-color: #ccc;
        content: " ";
        box-sizing: border-box;
        overflow: hidden;
        border-color: transparent;
    }

    .stepwizard-step:before {
        right: 50%;
        margin-right: 25px;
    }

    .stepwizard-step:after {
        left: 50%;
        margin-left: 25px;
    }

    .stepwizard-step > p {
        margin: 10px 0;
        color: #bbb;
    }

    .stepwizard-step > a {
        background-color: #fff;
        border-radius: 100px;
        width: 50px;
        height: 50px;
        line-height: 48px;
        display: inline-block;
        border: 2px solid #ccc;
        color: #ccc;
        font-size: 20px;
    }

        .stepwizard-step > a:hover {
            background-color: #e7e7e7;
        }




    .stepwizard-step.active > p {
        color: #3c8dbc;
    }

    .stepwizard-step.active > a {
        background-color: #3c8dbc;
        border-color: #3c8dbc;
        color: #fff;
    }

    .stepwizard-step.active:before, .stepwizard-step.active:after {
        background-color: #3c8dbc;
    }


    .stepwizard-step.active > a:hover {
        background-color: #367fa9;
    }
/*.stepwizard-step.active:after{
        background-color: #ccc;
    }
    
.stepwizard-step.active + .stepwizard-step > a {
        border-color: #ccc;
        color:#ccc;
    }
    .stepwizard-step.active + .stepwizard-step:before,
    .stepwizard-step.active + .stepwizard-step:after  {
        background-color: #ccc;
    }*/
.stepwizard-done > a {
    border-color: #3c8dbc;
    color: #3c8dbc;
}

.stepwizard-done:before,
.stepwizard-done:after {
    background-color: #3c8dbc;
}

.stepwizard-step.stepwizard-step-success > p {
    color: #008d4c;
}
.stepwizard-step.stepwizard-step-success > a {
    background-color: #00a65a;
    border-color: #008d4c;
    color: #fff;
}

    .stepwizard-step.stepwizard-step-success > a:hover {
        background-color: #008d4c;
    }

.stepwizard-step.stepwizard-step-danger:after {
    background-color: #ccc;
}

.stepwizard-step.stepwizard-step-danger > p {
    color: #d73925;
}
.stepwizard-step.stepwizard-step-danger > a {
    background-color: #dd4b39;
    border-color: #d73925;
    color: #fff;
}

    .stepwizard-step.stepwizard-step-danger > a:hover {
        background-color: #d73925;
    }

